# Ignore compiled class file
*.class

# Ignore log file
*.log

# Ignore config file
**/Config.toml

# Ignore BlueJ files
*.ctxt

# Ignore mobile tools for Java (J2ME)
.mtj.tmp/

# Ignore package Files #
*.jar
!gradle-wrapper/*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.deb

# Ignore virtual machine crash logs
hs_err_pid*

# Ignore everything in these directories
target
.idea
.classpath
.settings
.project
.vscode
*.iml
*.ipr
*.iws
.gradle
build
generated

# Ignore MAC DS files
.DS_Store

# Ignore environment files
*.env

# Ignore all Dependencies.toml files in the examples directory
examples/**/Dependencies.toml
