openapi: 3.0.1
info:
  title: Twilio - Api
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.51.0
servers:
- url: https://api.twilio.com
tags:
- name: Api20100401Account
- name: Api20100401AddOnResult
- name: Api20100401Address
- name: Api20100401AllTime
- name: Api20100401Application
- name: Api20100401AssignedAddOn
- name: Api20100401AssignedAddOnExtension
- name: Api20100401AuthCallsCredentialListMapping
- name: Api20100401AuthCallsIpAccessControlListMapping
- name: Api20100401AuthRegistrationsCredentialListMapping
- name: Api20100401AuthorizedConnectApp
- name: Api20100401AvailablePhoneNumberCountry
- name: Api20100401Balance
- name: Api20100401Call
- name: Api20100401Conference
- name: Api20100401ConnectApp
- name: Api20100401Credential
- name: Api20100401CredentialList
- name: Api20100401CredentialListMapping
- name: Api20100401Daily
- name: Api20100401DependentPhoneNumber
- name: Api20100401Domain
- name: Api20100401Event
- name: Api20100401Feedback
- name: Api20100401FeedbackSummary
- name: Api20100401IncomingPhoneNumber
- name: Api20100401IpAccessControlList
- name: Api20100401IpAccessControlListMapping
- name: Api20100401IpAddress
- name: Api20100401Key
- name: Api20100401LastMonth
- name: Api20100401Local
- name: Api20100401MachineToMachine
- name: Api20100401Media
- name: Api20100401Member
- name: Api20100401Message
- name: Api20100401Mobile
- name: Api20100401Monthly
- name: Api20100401National
- name: Api20100401NewKey
- name: Api20100401NewSigningKey
- name: Api20100401Notification
- name: Api20100401OutgoingCallerId
- name: Api20100401Participant
- name: Api20100401Payload
- name: Api20100401Payment
- name: Api20100401Queue
- name: Api20100401Record
- name: Api20100401Recording
- name: Api20100401SharedCost
- name: Api20100401ShortCode
- name: Api20100401SigningKey
- name: Api20100401Siprec
- name: Api20100401Stream
- name: Api20100401ThisMonth
- name: Api20100401Today
- name: Api20100401Token
- name: Api20100401TollFree
- name: Api20100401Transcription
- name: Api20100401Trigger
- name: Api20100401UserDefinedMessage
- name: Api20100401UserDefinedMessageSubscription
- name: Api20100401ValidationRequest
- name: Api20100401Voip
- name: Api20100401Yearly
- name: Api20100401Yesterday
paths:
  /2010-04-01/Accounts.json:
    description: Twilio accounts (aka Project) or subaccounts
    get:
      tags:
      - Api20100401Account
      description: Retrieves a collection of Accounts belonging to the account used
        to make the request
      operationId: ListAccount
      parameters:
      - name: FriendlyName
        in: query
        description: Only return the Account resources with friendly names that exactly
          match this name
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: friendlyName
      - name: Status
        in: query
        description: "Only return Account resources with the given status. Can be\
          \ `closed`, `suspended` or `active`"
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/AccountEnumStatus'
        x-ballerina-name: status
      - name: PageSize
        in: query
        description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        x-ballerina-name: pageSize
      - name: Page
        in: query
        description: The page index. This value is simply for client state
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
        x-ballerina-name: page
      - name: PageToken
        in: query
        description: The page token. This is provided by the API
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: pageToken
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountResponse'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      tags:
      - Api20100401Account
      description: Create a new Twilio Subaccount from the account making the request
      operationId: CreateAccount
      requestBody:
        description: The `CreateAccountRequest` record should be used as a payload
          to create a Subaccount
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - status
      pathType: list
      dependentProperties:
        addresses:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Addresses.json"
        applications:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Applications.json"
        authorized_connect_apps:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/AuthorizedConnectApps.json"
        available_phone_numbers:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers.json"
        balance:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Balance.json"
        calls:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Calls.json"
        conferences:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Conferences.json"
        connect_apps:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/ConnectApps.json"
        incoming_phone_numbers:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/IncomingPhoneNumbers.json"
        keys:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Keys.json"
        messages:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Messages.json"
        new_keys:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Keys.json"
        new_signing_keys:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SigningKeys.json"
        notifications:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Notifications.json"
        outgoing_caller_ids:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/OutgoingCallerIds.json"
        queues:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Queues.json"
        recordings:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Recordings.json"
        signing_keys:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SigningKeys.json"
        sip:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SIP.json"
        sms:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SMS.json"
        short_codes:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SMS/ShortCodes.json"
        tokens:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Tokens.json"
        transcriptions:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Transcriptions.json"
        usage:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Usage.json"
        validation_requests:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/OutgoingCallerIds.json"
  /2010-04-01/Accounts/{sid}.json:
    description: Twilio accounts (aka Project) or subaccounts
    get:
      tags:
      - Api20100401Account
      description: Fetch the account specified by the provided Account Sid
      operationId: FetchAccount
      parameters:
      - name: sid
        in: path
        description: The Account Sid that uniquely identifies the account to fetch
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      tags:
      - Api20100401Account
      description: Modify the properties of a given Account
      operationId: UpdateAccount
      parameters:
      - name: sid
        in: path
        description: The Account Sid that uniquely identifies the account to update
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      requestBody:
        description: The `UpdateAccountRequest` record should be used as a payload
          to update an Account
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - status
      pathType: instance
      dependentProperties:
        addresses:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Addresses.json"
        applications:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Applications.json"
        authorized_connect_apps:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/AuthorizedConnectApps.json"
        available_phone_numbers:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers.json"
        balance:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Balance.json"
        calls:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Calls.json"
        conferences:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Conferences.json"
        connect_apps:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/ConnectApps.json"
        incoming_phone_numbers:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/IncomingPhoneNumbers.json"
        keys:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Keys.json"
        messages:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Messages.json"
        new_keys:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Keys.json"
        new_signing_keys:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SigningKeys.json"
        notifications:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Notifications.json"
        outgoing_caller_ids:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/OutgoingCallerIds.json"
        queues:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Queues.json"
        recordings:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Recordings.json"
        signing_keys:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SigningKeys.json"
        sip:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SIP.json"
        sms:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SMS.json"
        short_codes:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/SMS/ShortCodes.json"
        tokens:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Tokens.json"
        transcriptions:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Transcriptions.json"
        usage:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Usage.json"
        validation_requests:
          mapping:
            account_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/OutgoingCallerIds.json"
  /2010-04-01/Accounts/{accountSid}/Addresses.json:
    description: "An Address instance resource represents your or your customer's\
      \ physical location within a country. Around the world, some local authorities\
      \ require the name and address of the user to be on file with Twilio to purchase\
      \ and own a phone number."
    get:
      tags:
      - Api20100401Address
      description: 'List the Address resources associated with your account. '
      operationId: ListAddress
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that is responsible for the Address resource to read"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: CustomerName
        in: query
        description: The `customer_name` of the Address resources to read
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: customerName
      - name: FriendlyName
        in: query
        description: The string that identifies the Address resources to read
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: friendlyName
      - name: IsoCountry
        in: query
        description: The ISO country code of the Address resources to read
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: iso-country-code
        x-ballerina-name: isoCountry
      - name: PageSize
        in: query
        description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        x-ballerina-name: pageSize
      - name: Page
        in: query
        description: The page index. This value is simply for client state
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
        x-ballerina-name: page
      - name: PageToken
        in: query
        description: The page token. This is provided by the API
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: pageToken
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAddressResponse'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      tags:
      - Api20100401Address
      description: 'Create a new Address resource. '
      operationId: CreateAddress
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that will be responsible for the new Address resource"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      requestBody:
        description: The `CreateAddressRequest` record should be used as a payload
          to create a new Address resource
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAddressRequest'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - validated
      - verified
      pathType: list
      dependentProperties:
        dependent_phone_numbers:
          mapping:
            account_sid: account_sid
            address_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Addresses/{address_sid}/DependentPhoneNumbers.json"
      parent: "/Accounts/{Sid}.json"
  /2010-04-01/Accounts/{accountSid}/Addresses/{sid}.json:
    description: "An Address instance resource represents your or your customer's\
      \ physical location within a country. Around the world, some local authorities\
      \ require the name and address of the user to be on file with Twilio to purchase\
      \ and own a phone number."
    get:
      tags:
      - Api20100401Address
      description: Fetch the Address resource specified by the provided Address Sid.
      operationId: FetchAddress
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that is responsible for the Address resource to fetch"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: sid
        in: path
        description: The Twilio-provided string that uniquely identifies the Address
          resource to fetch
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AD[0-9a-fA-F]{32}$"
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      tags:
      - Api20100401Address
      description: 'Update the Address resource specified by the provided AddressSid. '
      operationId: UpdateAddress
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that is responsible for the Address resource to update"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: sid
        in: path
        description: The Twilio-provided string that uniquely identifies the Address
          resource to update
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AD[0-9a-fA-F]{32}$"
          type: string
      requestBody:
        description: The `UpdateAddressRequest` record should be used as a payload
          to update an Address
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateAddressRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    delete:
      tags:
      - Api20100401Address
      description: 'Delete the Address resource specified by the provided AddressSid. '
      operationId: DeleteAddress
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that is responsible for the Address resource to delete"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: sid
        in: path
        description: The Twilio-provided string that uniquely identifies the Address
          resource to delete
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AD[0-9a-fA-F]{32}$"
          type: string
      responses:
        "204":
          description: The resource was deleted successfully
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - validated
      - verified
      pathType: instance
      dependentProperties:
        dependent_phone_numbers:
          mapping:
            account_sid: account_sid
            address_sid: sid
          resource_url: "/2010-04-01/Accounts/{account_sid}/Addresses/{address_sid}/DependentPhoneNumbers.json"
      parent: "/Accounts/{Sid}.json"
  /2010-04-01/Accounts/{accountSid}/Applications.json:
    description: An Application instance resource represents an application that you
      have created with Twilio. An application inside of Twilio is just a set of URLs
      and other configuration data that tells Twilio how to behave when one of your
      Twilio numbers receives a call or SMS message.
    get:
      tags:
      - Api20100401Application
      description: Retrieve a list of applications representing an application within
        the requesting account
      operationId: ListApplication
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Application resources to read"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: FriendlyName
        in: query
        description: The string that identifies the Application resources to read
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: friendlyName
      - name: PageSize
        in: query
        description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        x-ballerina-name: pageSize
      - name: Page
        in: query
        description: The page index. This value is simply for client state
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
        x-ballerina-name: page
      - name: PageToken
        in: query
        description: The page token. This is provided by the API
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: pageToken
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApplicationResponse'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      tags:
      - Api20100401Application
      description: Create a new application within your account
      operationId: CreateApplication
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that will create the resource"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      requestBody:
        description: The `CreateApplicationRequest` record should be used as a payload
          to create a new Application resource
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: list
      parent: "/Accounts/{Sid}.json"
  /2010-04-01/Accounts/{accountSid}/Applications/{sid}.json:
    description: An Application instance resource represents an application that you
      have created with Twilio. An application inside of Twilio is just a set of URLs
      and other configuration data that tells Twilio how to behave when one of your
      Twilio numbers receives a call or SMS message.
    get:
      tags:
      - Api20100401Application
      description: Fetch the application specified by the provided sid
      operationId: FetchApplication
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Application resource to fetch"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: sid
        in: path
        description: The Twilio-provided string that uniquely identifies the Application
          resource to fetch
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AP[0-9a-fA-F]{32}$"
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    post:
      tags:
      - Api20100401Application
      description: Updates the application's properties
      operationId: UpdateApplication
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Application resources to update"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: sid
        in: path
        description: The Twilio-provided string that uniquely identifies the Application
          resource to update
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AP[0-9a-fA-F]{32}$"
          type: string
      requestBody:
        description: The `UpdateApplicationRequest` record should be used as a payload
          to update an Application
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    delete:
      tags:
      - Api20100401Application
      description: Delete the application by the specified application sid
      operationId: DeleteApplication
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the Application resources to delete"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: sid
        in: path
        description: The Twilio-provided string that uniquely identifies the Application
          resource to delete
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AP[0-9a-fA-F]{32}$"
          type: string
      responses:
        "204":
          description: The resource was deleted successfully
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: instance
      parent: "/Accounts/{Sid}.json"
  /2010-04-01/Accounts/{accountSid}/AuthorizedConnectApps/{connectAppSid}.json:
    description: Authorized Twilio Connect apps
    get:
      tags:
      - Api20100401AuthorizedConnectApp
      description: Fetch an instance of an authorized-connect-app
      operationId: FetchAuthorizedConnectApp
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the AuthorizedConnectApp resource to fetch"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: connectAppSid
        in: path
        description: The SID of the Connect App to fetch
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CN[0-9a-fA-F]{32}$"
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizedConnectApp'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - connect_app_sid
      - connect_app_friendly_name
      pathType: instance
      parent: "/Accounts/{Sid}.json"
  /2010-04-01/Accounts/{accountSid}/AuthorizedConnectApps.json:
    description: Authorized Twilio Connect apps
    get:
      tags:
      - Api20100401AuthorizedConnectApp
      description: Retrieve a list of authorized-connect-apps belonging to the account
        used to make the request
      operationId: ListAuthorizedConnectApp
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ that created the AuthorizedConnectApp resources to read"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: PageSize
        in: query
        description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        x-ballerina-name: pageSize
      - name: Page
        in: query
        description: The page index. This value is simply for client state
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
        x-ballerina-name: page
      - name: PageToken
        in: query
        description: The page token. This is provided by the API
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: pageToken
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuthorizedConnectAppResponse'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - connect_app_sid
      - connect_app_friendly_name
      pathType: list
      parent: "/Accounts/{Sid}.json"
  /2010-04-01/Accounts/{accountSid}/AvailablePhoneNumbers.json:
    description: Country codes with available phone numbers
    get:
      tags:
      - Api20100401AvailablePhoneNumberCountry
      description: Retrieve a list of available phone numbers that match the given
        filters.
      operationId: ListAvailablePhoneNumberCountry
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the available phone number Country resources"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: PageSize
        in: query
        description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        x-ballerina-name: pageSize
      - name: Page
        in: query
        description: The page index. This value is simply for client state
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
        x-ballerina-name: page
      - name: PageToken
        in: query
        description: The page token. This is provided by the API
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: pageToken
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberCountryResponse'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - country_code
      - country
      - beta
      pathType: list
      dependentProperties:
        local:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/Local.json"
        toll_free:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/TollFree.json"
        mobile:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/Mobile.json"
        national:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/National.json"
        voip:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/Voip.json"
        shared_cost:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/SharedCost.json"
        machine_to_machine:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/MachineToMachine.json"
      parent: "/Accounts/{Sid}.json"
      className: available_phone_number_country
  /2010-04-01/Accounts/{accountSid}/AvailablePhoneNumbers/{countryCode}.json:
    description: Country codes with available phone numbers
    get:
      tags:
      - Api20100401AvailablePhoneNumberCountry
      description: Retrieve a list of available phone numbers that match the given
        filters.
      operationId: FetchAvailablePhoneNumberCountry
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the available phone number Country resource"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: countryCode
        in: path
        description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country to fetch available phone number information\
          \ about"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: iso-country-code
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailablePhoneNumberCountry'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - country_code
      - country
      - beta
      pathType: instance
      dependentProperties:
        local:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/Local.json"
        toll_free:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/TollFree.json"
        mobile:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/Mobile.json"
        national:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/National.json"
        voip:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/Voip.json"
        shared_cost:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/SharedCost.json"
        machine_to_machine:
          mapping:
            account_sid: account_sid
            country_code: country_code
          resource_url: "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers/{country_code}/MachineToMachine.json"
      parent: "/Accounts/{Sid}.json"
      className: available_phone_number_country
  /2010-04-01/Accounts/{accountSid}/AvailablePhoneNumbers/{countryCode}/Local.json:
    description: Available local phone numbers
    get:
      tags:
      - Api20100401Local
      description: Retrieve a list of machine to machine available phone numbers that
        match the given filters.
      operationId: ListAvailablePhoneNumberLocal
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: countryCode
        in: path
        description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: iso-country-code
      - name: AreaCode
        in: query
        description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-ballerina-name: areaCode
      - name: Contains
        in: query
        description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumberlocal-resource?code-sample=code-find-phone-numbers-by-number-pattern)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumberlocal-resource?code-sample=code-find-phone-numbers-by-character-pattern).\
          \ If specified, this value must have at least two characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: contains
      - name: SmsEnabled
        in: query
        description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: smsEnabled
      - name: MmsEnabled
        in: query
        description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: mmsEnabled
      - name: VoiceEnabled
        in: query
        description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: voiceEnabled
      - name: ExcludeAllAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeAllAddressRequired
      - name: ExcludeLocalAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeLocalAddressRequired
      - name: ExcludeForeignAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeForeignAddressRequired
      - name: Beta
        in: query
        description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: beta
      - name: NearNumber
        in: query
        description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: phone-number
        x-ballerina-name: nearNumber
      - name: NearLatLong
        in: query
        description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: nearLatLong
      - name: Distance
        in: query
        description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-ballerina-name: distance
      - name: InPostalCode
        in: query
        description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inPostalCode
      - name: InRegion
        in: query
        description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inRegion
      - name: InRateCenter
        in: query
        description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inRateCenter
      - name: InLata
        in: query
        description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inLata
      - name: InLocality
        in: query
        description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inLocality
      - name: FaxEnabled
        in: query
        description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: faxEnabled
      - name: PageSize
        in: query
        description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        x-ballerina-name: pageSize
      - name: Page
        in: query
        description: The page index. This value is simply for client state
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
        x-ballerina-name: page
      - name: PageToken
        in: query
        description: The page token. This is provided by the API
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: pageToken
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberLocalResponse'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      pathType: list
      parent: "/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json"
  /2010-04-01/Accounts/{accountSid}/AvailablePhoneNumbers/{countryCode}/MachineToMachine.json:
    description: Available machine-to-machine phone numbers
    get:
      tags:
      - Api20100401MachineToMachine
      description: Retrieve a list of machine to machine available phone numbers that
        match the given filters.
      operationId: ListAvailablePhoneNumberMachineToMachine
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: countryCode
        in: path
        description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: iso-country-code
      - name: AreaCode
        in: query
        description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-ballerina-name: areaCode
      - name: Contains
        in: query
        description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: contains
      - name: SmsEnabled
        in: query
        description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: smsEnabled
      - name: MmsEnabled
        in: query
        description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: mmsEnabled
      - name: VoiceEnabled
        in: query
        description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: voiceEnabled
      - name: ExcludeAllAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeAllAddressRequired
      - name: ExcludeLocalAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeLocalAddressRequired
      - name: ExcludeForeignAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeForeignAddressRequired
      - name: Beta
        in: query
        description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: beta
      - name: NearNumber
        in: query
        description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: phone-number
        x-ballerina-name: nearNumber
      - name: NearLatLong
        in: query
        description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: nearLatLong
      - name: Distance
        in: query
        description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-ballerina-name: distance
      - name: InPostalCode
        in: query
        description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inPostalCode
      - name: InRegion
        in: query
        description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inRegion
      - name: InRateCenter
        in: query
        description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inRateCenter
      - name: InLata
        in: query
        description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inLata
      - name: InLocality
        in: query
        description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inLocality
      - name: FaxEnabled
        in: query
        description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: faxEnabled
      - name: PageSize
        in: query
        description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        x-ballerina-name: pageSize
      - name: Page
        in: query
        description: The page index. This value is simply for client state
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
        x-ballerina-name: page
      - name: PageToken
        in: query
        description: The page token. This is provided by the API
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: pageToken
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberMachineToMachineResponse'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      pathType: list
      parent: "/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json"
  /2010-04-01/Accounts/{accountSid}/AvailablePhoneNumbers/{countryCode}/Mobile.json:
    description: Available mobile phone numbers
    get:
      tags:
      - Api20100401Mobile
      description: Retrieve a list of mobile available phone numbers that match the
        given filters.
      operationId: ListAvailablePhoneNumberMobile
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: countryCode
        in: path
        description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: iso-country-code
      - name: AreaCode
        in: query
        description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-ballerina-name: areaCode
      - name: Contains
        in: query
        description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: contains
      - name: SmsEnabled
        in: query
        description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: smsEnabled
      - name: MmsEnabled
        in: query
        description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: mmsEnabled
      - name: VoiceEnabled
        in: query
        description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: voiceEnabled
      - name: ExcludeAllAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeAllAddressRequired
      - name: ExcludeLocalAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeLocalAddressRequired
      - name: ExcludeForeignAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeForeignAddressRequired
      - name: Beta
        in: query
        description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: beta
      - name: NearNumber
        in: query
        description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: phone-number
        x-ballerina-name: nearNumber
      - name: NearLatLong
        in: query
        description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: nearLatLong
      - name: Distance
        in: query
        description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-ballerina-name: distance
      - name: InPostalCode
        in: query
        description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inPostalCode
      - name: InRegion
        in: query
        description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inRegion
      - name: InRateCenter
        in: query
        description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inRateCenter
      - name: InLata
        in: query
        description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inLata
      - name: InLocality
        in: query
        description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inLocality
      - name: FaxEnabled
        in: query
        description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: faxEnabled
      - name: PageSize
        in: query
        description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        x-ballerina-name: pageSize
      - name: Page
        in: query
        description: The page index. This value is simply for client state
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
        x-ballerina-name: page
      - name: PageToken
        in: query
        description: The page token. This is provided by the API
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: pageToken
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberMobileResponse'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      pathType: list
      parent: "/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json"
  /2010-04-01/Accounts/{accountSid}/AvailablePhoneNumbers/{countryCode}/National.json:
    description: Available national phone numbers
    get:
      tags:
      - Api20100401National
      description: Retrieve a list of national available phone numbers that match
        the given filters.
      operationId: ListAvailablePhoneNumberNational
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: countryCode
        in: path
        description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: iso-country-code
      - name: AreaCode
        in: query
        description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-ballerina-name: areaCode
      - name: Contains
        in: query
        description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: contains
      - name: SmsEnabled
        in: query
        description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: smsEnabled
      - name: MmsEnabled
        in: query
        description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: mmsEnabled
      - name: VoiceEnabled
        in: query
        description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: voiceEnabled
      - name: ExcludeAllAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeAllAddressRequired
      - name: ExcludeLocalAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeLocalAddressRequired
      - name: ExcludeForeignAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeForeignAddressRequired
      - name: Beta
        in: query
        description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: beta
      - name: NearNumber
        in: query
        description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: phone-number
        x-ballerina-name: nearNumber
      - name: NearLatLong
        in: query
        description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: nearLatLong
      - name: Distance
        in: query
        description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-ballerina-name: distance
      - name: InPostalCode
        in: query
        description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inPostalCode
      - name: InRegion
        in: query
        description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inRegion
      - name: InRateCenter
        in: query
        description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inRateCenter
      - name: InLata
        in: query
        description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inLata
      - name: InLocality
        in: query
        description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inLocality
      - name: FaxEnabled
        in: query
        description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: faxEnabled
      - name: PageSize
        in: query
        description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        x-ballerina-name: pageSize
      - name: Page
        in: query
        description: The page index. This value is simply for client state
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
        x-ballerina-name: page
      - name: PageToken
        in: query
        description: The page token. This is provided by the API
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: pageToken
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberNationalResponse'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      pathType: list
      parent: "/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json"
  /2010-04-01/Accounts/{accountSid}/AvailablePhoneNumbers/{countryCode}/SharedCost.json:
    description: Available shared cost numbers
    get:
      tags:
      - Api20100401SharedCost
      description: Retrieve a list of shared cost available phone numbers that match
        the given filters.
      operationId: ListAvailablePhoneNumberSharedCost
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: countryCode
        in: path
        description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: iso-country-code
      - name: AreaCode
        in: query
        description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-ballerina-name: areaCode
      - name: Contains
        in: query
        description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: contains
      - name: SmsEnabled
        in: query
        description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: smsEnabled
      - name: MmsEnabled
        in: query
        description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: mmsEnabled
      - name: VoiceEnabled
        in: query
        description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: voiceEnabled
      - name: ExcludeAllAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeAllAddressRequired
      - name: ExcludeLocalAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeLocalAddressRequired
      - name: ExcludeForeignAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeForeignAddressRequired
      - name: Beta
        in: query
        description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: beta
      - name: NearNumber
        in: query
        description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: phone-number
        x-ballerina-name: nearNumber
      - name: NearLatLong
        in: query
        description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: nearLatLong
      - name: Distance
        in: query
        description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-ballerina-name: distance
      - name: InPostalCode
        in: query
        description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inPostalCode
      - name: InRegion
        in: query
        description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inRegion
      - name: InRateCenter
        in: query
        description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inRateCenter
      - name: InLata
        in: query
        description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inLata
      - name: InLocality
        in: query
        description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inLocality
      - name: FaxEnabled
        in: query
        description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: faxEnabled
      - name: PageSize
        in: query
        description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        x-ballerina-name: pageSize
      - name: Page
        in: query
        description: The page index. This value is simply for client state
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
        x-ballerina-name: page
      - name: PageToken
        in: query
        description: The page token. This is provided by the API
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: pageToken
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailablePhoneNumberSharedCostResponse'
      security:
      - accountSid_authToken: []
      x-maturity:
      - GA
    servers:
    - url: https://api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - phone_number
      - region
      - beta
      pathType: list
      parent: "/Accounts/{AccountSid}/AvailablePhoneNumbers/{CountryCode}.json"
  /2010-04-01/Accounts/{accountSid}/AvailablePhoneNumbers/{countryCode}/TollFree.json:
    description: Available toll free phone numbers
    get:
      tags:
      - Api20100401TollFree
      description: Retrieve a list of toll free available phone numbers that match
        the given filters.
      operationId: ListAvailablePhoneNumberTollFree
      parameters:
      - name: accountSid
        in: path
        description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
          \ requesting the AvailablePhoneNumber resources"
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
      - name: countryCode
        in: path
        description: "The [ISO-3166-1](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ country code of the country from which to read phone numbers"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: iso-country-code
      - name: AreaCode
        in: query
        description: The area code of the phone numbers to read. Applies to only phone
          numbers in the US and Canada
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-ballerina-name: areaCode
      - name: Contains
        in: query
        description: "The pattern on which to match phone numbers. Valid characters\
          \ are `*`, `0-9`, `a-z`, and `A-Z`. The `*` character matches any single\
          \ digit. For examples, see [Example 2](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-2)\
          \ and [Example 3](https://www.twilio.com/docs/phone-numbers/api/availablephonenumber-resource#local-get-basic-example-3).\
          \ If specified, this value must have at least two characters"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: contains
      - name: SmsEnabled
        in: query
        description: "Whether the phone numbers can receive text messages. Can be:\
          \ `true` or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: smsEnabled
      - name: MmsEnabled
        in: query
        description: "Whether the phone numbers can receive MMS messages. Can be:\
          \ `true` or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: mmsEnabled
      - name: VoiceEnabled
        in: query
        description: "Whether the phone numbers can receive calls. Can be: `true`\
          \ or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: voiceEnabled
      - name: ExcludeAllAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require an [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeAllAddressRequired
      - name: ExcludeLocalAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require a local [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeLocalAddressRequired
      - name: ExcludeForeignAddressRequired
        in: query
        description: "Whether to exclude phone numbers that require a foreign [Address](https://www.twilio.com/docs/usage/api/address).\
          \ Can be: `true` or `false` and the default is `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: excludeForeignAddressRequired
      - name: Beta
        in: query
        description: "Whether to read phone numbers that are new to the Twilio platform.\
          \ Can be: `true` or `false` and the default is `true`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: beta
      - name: NearNumber
        in: query
        description: "Given a phone number, find a geographically close number within\
          \ `distance` miles. Distance defaults to 25 miles. Applies to only phone\
          \ numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: phone-number
        x-ballerina-name: nearNumber
      - name: NearLatLong
        in: query
        description: "Given a latitude/longitude pair `lat,long` find geographically\
          \ close numbers within `distance` miles. Applies to only phone numbers in\
          \ the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: nearLatLong
      - name: Distance
        in: query
        description: "The search radius, in miles, for a `near_` query.  Can be up\
          \ to `500` and the default is `25`. Applies to only phone numbers in the\
          \ US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-ballerina-name: distance
      - name: InPostalCode
        in: query
        description: "Limit results to a particular postal code. Given a phone number,\
          \ search within the same postal code as that number. Applies to only phone\
          \ numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inPostalCode
      - name: InRegion
        in: query
        description: "Limit results to a particular region, state, or province. Given\
          \ a phone number, search within the same region as that number. Applies\
          \ to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inRegion
      - name: InRateCenter
        in: query
        description: "Limit results to a specific rate center, or given a phone number\
          \ search within the same rate center as that number. Requires `in_lata`\
          \ to be set as well. Applies to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inRateCenter
      - name: InLata
        in: query
        description: "Limit results to a specific local access and transport area\
          \ ([LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)).\
          \ Given a phone number, search within the same [LATA](https://en.wikipedia.org/wiki/Local_access_and_transport_area)\
          \ as that number. Applies to only phone numbers in the US and Canada"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inLata
      - name: InLocality
        in: query
        description: "Limit results to a particular locality or city. Given a phone\
          \ number, search within the same Locality as that number"
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-ballerina-name: inLocality
      - name: FaxEnabled
        in: query
        description: "Whether the phone numbers can receive faxes. Can be: `true`\
          \ or `false`"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
        x-ballerina-name: faxEnabled
      - name: PageSize
        in: query
        description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000"
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        x-ballerina-name: pageSize
      - name: Page
        in: query
        description: The page index. This value is simply for client state
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
        x-ballerina-name: page
      - name: PageToken
        in: query
        description: The page token. This is provided by the API
[...]
